/*
    ---------------------------------------------
   !!!!! Do not fix this file. !!!!
   ---------------------------------------------
    This is a file that is intentionally broken,
   meant to test out stylelint.
*/

// Should complain about quotes
$something: "things";

// unescaped new line in a string
$stuff: 'string with new line
';

// indentation and trailing comma
$map: (
    'pizza': 'pie',
  'indent': 'bad'
);

.info-pod__header,
.info-pod__body,
.info-pod__footer {
    border-color: color('border');
    // Should complain about order
    flex-basis: auto;
    // Unkown property
    not-a-thing: blue;
    // unknown unit
    width: 10chris;
    // no invalid hex
    color: #0;
}

// duplicate selector
.info-pod__header,
.info-pod__body,
.info-pod__footer {
    border: red;
}
